[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
xgboost = "*"
flask = "*"
gunicorn = "*"

[dev-packages]
jupyter = "*"
matplotlib = "*"
seaborn = "*"

[requires]
python_version = "3.13"